body > div{
    width: 300px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
body > div form input{
    width: 250px;
    margin: auto;
    border: 1px black solid;
    border-radius: 3px;
}

.display-none{
    display: none;
}